.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blockAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textAlign {
  text-align: center;
}

@media (max-width: 768px) {
  .avatar {
    position: relative !important;
    top: auto !important;
  }

  .blockAlign {
    width: 100%;
  }

  .textAlign {
    text-align: center;
  }
}

